.m-picture-display {
    display: block;
    width: 128px;
    height: 128px;
    position: relative;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 25%);

    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    .picture-inner {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        .picture-image {
            display: block;
            content: '';
            width: 100%;
        }
    }

    .download-button {
        @include button-reset;
        content: '';
        display: block;
        position: absolute;
        width: 49px;
        height: 49px;
        background-color: transparent;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
        z-index: 1;

        &::after {
            content: "";
            display: block;
            position: absolute;
            background-color: #7B7B7B;
            width: 49px;
            height: 67px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 9px;
            right: -17px;
            z-index: -1;
            transition: all 0.2s ease;
        }

        .download-icon {
            color: #FFFFFF;
            position: absolute;
            bottom: 8px;
            right: 6px;
        }
    }

    .download-button {
        &:hover {
            &::after{
                box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

