.m-checkParameter {
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);


    .input-group {
        display: flex;
        max-width: 244px;
        height: 32px;
        width: 100%;
        background-color: #D9D9D9;
        
        margin: 0px 10px 10px 0px;
        &.is-injury{
            margin: 0px 0px 0px 0px;
        }
    }

    .input-title {
        width: 36%;
        background-color: #919AA1;
        color: #ffffff;
        text-align: center;
        line-height: 2;
        display: block;
    }

    .input-content {
        width: 64%;
        padding: 8px 32px;

        .button-list {
            display: flex;
        }
    }
}

.m-checkParameter_items {
    list-style: none;
    margin-right: 8px;

    .item-inner {
        display: flex;
    }

    .item-checkbox {
        display: none;
    }

    .item-label {
        content: '';
        display: block;
        position: relative;
        width: 16px;
        height: 100%;

        &::before {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: solid 2px #424424;
            background: transparent;
            cursor: pointer;
        }
    }

    .item-checkbox:checked+.item-label {
        content: '';
        display: block;
        position: relative;
        width: 16px;
        height: 100%;

        &::after {
            content: '';
            position: absolute;
            background-color: #424424;
            display: block;
            width: 8px;
            height: 8px;
            top: 4px;
            left: 4px;
            border-radius: 50%;
            border: solid 1px #424424;
        }
    }
}

.m-checkParameter {
    .input-group{
        &.s-specialize{
            max-width: 272px;
            .input-title{
                width: 140px;
                color: #ffffff;
                text-align: center;
                line-height: 2.4;
                display: block;
                font-size:14px;
            }

            .input-content{
                width: calc(100% - 140px );
                padding: 8px 24px;
            }
        }
    }
}

