.m-charCharactorIcon {
    content: "";
    margin: 0px 24px 0 0;
}


.m-viewProfileIcon {
    position:relative;
    display:block;
    width:178px;
    height:178px;
    background-color: #f1f1f1;

    @include mq(sm) {
        margin-bottom:0px;
    }

    .image-inner {
        position: relative;
        width: 100%;
        &:before {
            content: "";
            display: block;
            padding-top: 100%; 
        }
    }
    .image-img {
        display:block;
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .m-deleteIcon {
        // 後で共通化
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;

        display:block;
        border-radius: 50%;
        position:absolute;
        top:-6px;
        right:-8px;

        width:24px;
        height:24px;
        background-color:#AC536C;
        .m-faXmark {
            color:#ffffff;
        }
    }
}

/*
        <div className="m-inputImgFile" >
            <div {...getRootProps()}>
                <input {...getInputProps()} />
                <FontAwesomeIcon 
                    className="m-faCloudArrowUp"
                    icon={ faCloudArrowUp } 
                />
                <p className="" ></p>
            </div>
      </div>
*/

.m-inputImgFile {
    position:relative;
    display:block;
    width:178px;
    height:178px;
    background-color: #f1f1f1;

    .input-dropzone {
        content:"";
        display:block;
        width:160px;
        height:160px;
        background-color:transparent;
        border:2px dashed #424242;
        margin:7px;
        cursor: pointer;
    }

    .m-faCloudArrowUp {
        display:inline-block;
        position: absolute;
        top: -46px;
        right: 0;
        bottom: 0;
        left: 0;
        width:130px;
        font-size:14px;
        color:#737582;
        margin:auto;
        height:auto;
        height: 62px;
    }


    .input-description {
        display:inline-block;
        position: absolute;
        top: 46px;
        right: 0;
        bottom: 0;
        left: 0;
        width: 104px;
        font-size:14px;
        color:#3C3C3C;
        margin:auto;
        height: 21px;
    }

    @include mq(sm) {
        margin-bottom:0px;
    }
}