
.m-character {
    max-width:768px;
    width:100%;
    display:block;
    &:nth-child(even){
        background-color:#EDE9E4;
    }
    &:nth-child(odd){
        background-color:#F9F8F6;
    }
    &__inner{
        display:flex;
        width:100%;
        padding:20px 10px;
    }

    &__picture{
        content:"";
        width:128px;
        height:128px;
        background-color: transparent;
        display:none;
        @include mq (sm) {
            display:block;
        }
    }
    &__content{
        content:"";
        display:flex;
        flex-direction: column;
        width:100%;
        background-color: transparent;
        @include mq(sm) {
            width:calc( 100% - 128px );
        }
    }
    &__charactor-name{
        font-size:18px;
        height:calc(100% - 60px);

    }

    &__charactor-button{
        height:60px;
    }
    &__charactor-updateded_at {
        display: block;
        text-align: right;
        font-size: 16px;
        line-height: 2;
    }

    .m-buttons{
        
        &__inner{
            display:flex;
            list-style:none;
            flex-wrap: wrap;
            @include mq(sm) {
                justify-content: flex-end;
            }

            & li {
                width:calc(50% - 5px);
                margin: 0px 10px 10px 0px;
                &:nth-of-type(2n) {
                    margin: 0px 0px 10px 0px;
                }
                @include mq(sm) {
                    width: 106px;
                    margin: 0px 10px 0px 0px;
                    &:nth-of-type(2n) {
                        margin: 0px 10px 0px 0px;
                    }
                }
            }
        }
        .m-button-edit{
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;

            height: 32px;
            line-height: 2;
            text-align: center;
            border-radius: 4px;
            background-color:#ffffff;
            border: solid 1px #53AC8B;
            a {
                color: #53AC8B; 
            }
            &:hover {
                background-color:#53AC8B;
                border: solid 1px #53AC8B;
                a {
                    color: #ffffff;
                }
            }
        }

        .m-button-view{
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;

            height: 32px;
            line-height: 2;
            text-align: center;
            border-radius: 4px;
            background-color:#ffffff;
            border: solid 1px #53AC8B;
            color: #53AC8B;
            a {
                color: #53AC8B; 
            }
            &:hover {
                background-color:#53AC8B;
                border: solid 1px #53AC8B;
                a {
                    color: #ffffff;
                }
            }
        }
        .m-button-output{
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
            height: 32px;

            line-height: 2;
            text-align: center;
            border-radius: 4px;
            background-color:#ffffff;
            border: solid 1px #53AC8B;
            color: #53AC8B;
            &:hover {
                background-color:#53AC8B;
                border: solid 1px #53AC8B;
                color: #ffffff;
            }
        }
        .m-button-delete{
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
            height: 32px;
            line-height: 2;
            text-align: center;
            border-radius: 4px;
            background-color:#ffffff;
            border: solid 1px #AC536C;
            color: #AC536C;
            &:hover {
                background-color:#AC536C;
                border: solid 1px #AC536C;
                color: #ffffff;
            }
        }

        .m-button-edit,
        .m-button-view,
        .m-button-output,
        .m-button-delete{


            a {
                text-decoration:none;
            }
        }
    }
}
