/*
        <div className="m-login">
            <div className="m-login__inner">
                <h2 className="m-section_title">ログイン</h2>
                <form onSubmit={handleLogin}>
                    <div className="input-group">
                        <label>メールアドレス</label>
                        <input
                            type="email"
                            className="input"
                            value={email}
                            onChange={e => setEmail(e.target.value)}
                        />
                    </div>
                    <div className="input-group">
                        <label>パスワード</label>
                        <input
                            type="password"
                            className="input"
                            value={password}
                            onChange={e => setPassword(e.target.value)}
                        />
                    </div>
                    <div>
                        <p></p>
                    </div>
                    <button type="submit" className="btn">ログイン</button>
                </form>
            </div>
        </div>

*/
.button-reset {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.m-login {
    max-width:476px;
    width:100%;
    background-color:#F2F1F1;
    margin: 40px auto 0px auto;
    &__inner{
        padding:16px;
    }
    .m-section_title{
        text-align:center;
        font-size:32px;
        margin: 16px auto 32px auto;
       
    }

    form{
        max-width:294px;
        width:100%;
        margin :0px auto;
        .input-group{
            margin:0px 0px 16px 0px;
            label{
    
            }
            .input{
                width:100%;
            }

        }
        .btn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;

            height: 32px;
            width: 84px;
            line-height: 2;
            text-align: center;
            margin: 0px 0px 0px auto;
            border-radius: 4px;
            background-color:#53AC8B;
            color: #fff;
        }
    }

}