.is-abilityValue {
    
    .m-title-type {
        position:relative;
        display: block;
        margin: 0px 0px 16px 0px;
        &:after {
            content:'';
            display:block;
            position:absolute;
            width:100%;
            height:2px;
            bottom: -6px;
            background-color: #424242;
        }
    }
}