/*!********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/index.scss ***!
  \********************************************************************************************************************************************************/
@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-family: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #424242;
}

/*
input , select , textarea , button{
    display: block;
    -webkit-appearance: none;
    box-sizing: border-box;
}*/
.l-layout {
  display: block;
  width: 100%;
  position: relative;
}
.l-layout .l-inner {
  min-height: calc(100vh - 35px);
  height: 100%;
  padding-bottom: 30px;
}
.l-layout .l-wrap {
  max-width: 768px;
  width: 100%;
  margin: 0px auto;
}

.l-section_wrap {
  max-width: calc(100% - 16px);
  width: 100%;
  margin: 0px auto 20px auto;
  background-color: #F0EEEE;
  border-radius: 4px;
}
.l-section_wrap__dash {
  width: calc(100% - 16px);
  margin: 0px auto 20px auto;
}
.l-section_wrap__dash .l-section_content {
  padding: 0px;
}

.l-section_Tab {
  background-color: #DEDDC8;
}
.l-section_Tab .l-section_title {
  font-size: 16px;
  line-height: 1;
  display: block;
  padding: 10px 20px;
}

.l-section_content {
  padding: 16px 8px;
}

.l-inner_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.is-se {
  display: block;
}
@media screen and (min-width: 350px) {
  .is-se {
    display: none;
  }
}

.is-sm {
  display: block !important;
}
@media screen and (min-width: 576px) {
  .is-sm {
    display: none !important;
  }
}

.m-inputTextInfo .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 235px;
  height: 36px;
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 4px;
  margin: 0px 10px 10px 0px;
}
.m-inputTextInfo .input-group .error-message {
  color: red;
}
.m-inputTextInfo .input-title {
  min-width: 36%;
  width: 100px;
  background-color: #919AA1;
  color: #ffffff;
  text-align: center;
  line-height: 2;
  display: block;
}
.m-inputTextInfo .input-content {
  min-width: 64%;
  width: 100%;
}
.m-inputTextInfo .input-content .input-text {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  width: 100%;
  height: 36px;
  background-color: #D9D9D9;
  padding: 4px 8px;
}

.m-inputTextInfo .input-group.s-profiles {
  max-width: 324px;
}

.m-checkParameter .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 244px;
  height: 32px;
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 4px;
  margin: 0px 10px 10px 0px;
}
.m-checkParameter .input-title {
  width: 36%;
  background-color: #919AA1;
  color: #ffffff;
  text-align: center;
  line-height: 2;
  display: block;
}
.m-checkParameter .input-content {
  width: 64%;
  padding: 8px 32px;
}
.m-checkParameter .input-content .button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-checkParameter_items {
  list-style: none;
  margin-right: 8px;
}
.m-checkParameter_items .item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.m-checkParameter_items .item-checkbox {
  display: none;
}
.m-checkParameter_items .item-label {
  content: "";
  display: block;
  position: relative;
  width: 16px;
  height: 100%;
}
.m-checkParameter_items .item-label::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: solid 2px #424424;
  background: transparent;
}
.m-checkParameter_items .item-checkbox:checked + .item-label {
  content: "";
  display: block;
  position: relative;
  width: 16px;
  height: 100%;
}
.m-checkParameter_items .item-checkbox:checked + .item-label::after {
  content: "";
  position: absolute;
  background-color: #424424;
  display: block;
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  border: solid 1px #424424;
}

.m-checkParameter .input-group.s-specialize {
  max-width: 272px;
}
.m-checkParameter .input-group.s-specialize .input-title {
  width: 140px;
  color: #ffffff;
  text-align: center;
  line-height: 2.4;
  display: block;
  font-size: 14px;
}
.m-checkParameter .input-group.s-specialize .input-content {
  width: calc(100% - 140px);
  padding: 8px 24px;
}

.m-sentenceInput {
  display: block;
  width: 100%;
}
.m-sentenceInput .input-group {
  display: inline-block;
  height: auto;
  width: 100%;
}
.m-sentenceInput .input-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  resize: none;
  background-color: #ffffff;
  height: 300px;
  width: 100%;
  padding: 8px 16px;
}

/*
        <div className="m-viewProfileIcon">
            <figure>
                <img src="" alt="" />
            </figure>
            <button 
                type="button"
                className="m-deleteIcon"
                onClick={onc}
            >
                <FontAwesomeIcon icon={ faXmark } />
            </button>
        </div>
*/
.m-charCharactorIcon {
  content: "";
  margin: 0px 24px 0 0;
}

.m-viewProfileIcon {
  position: relative;
  display: block;
  width: 178px;
  height: 178px;
  background-color: #f1f1f1;
}
@media screen and (min-width: 576px) {
  .m-viewProfileIcon {
    margin-bottom: 0px;
  }
}
.m-viewProfileIcon .image-inner {
  position: relative;
  width: 100%;
}
.m-viewProfileIcon .image-inner:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* 比率を指定 */
}
.m-viewProfileIcon .image-img {
  display: block;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.m-viewProfileIcon .m-deleteIcon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -8px;
  width: 24px;
  height: 24px;
  background-color: #AC536C;
}
.m-viewProfileIcon .m-deleteIcon .m-faXmark {
  color: #ffffff;
}

/*
        <div className="m-inputImgFile" >
            <div {...getRootProps()}>
                <input {...getInputProps()} />
                <FontAwesomeIcon 
                    className="m-faCloudArrowUp"
                    icon={ faCloudArrowUp } 
                />
                <p className="" ></p>
            </div>
      </div>
*/
.m-inputImgFile {
  position: relative;
  display: block;
  width: 178px;
  height: 178px;
  background-color: #f1f1f1;
}
.m-inputImgFile .input-dropzone {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-color: transparent;
  border: 2px dashed #424242;
  margin: 7px;
  cursor: pointer;
}
.m-inputImgFile .m-faCloudArrowUp {
  display: inline-block;
  position: absolute;
  top: -46px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 130px;
  font-size: 14px;
  color: #737582;
  margin: auto;
  height: auto;
  height: 62px;
}
.m-inputImgFile .input-description {
  display: inline-block;
  position: absolute;
  top: 46px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 104px;
  font-size: 14px;
  color: #3C3C3C;
  margin: auto;
  height: 21px;
}
@media screen and (min-width: 576px) {
  .m-inputImgFile {
    margin-bottom: 0px;
  }
}

.m-charInputText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 324px;
  height: 36px;
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 4px;
  margin: 0px 10px 10px 0px;
}
.m-charInputText__label {
  min-width: 36%;
  width: 100px;
  background-color: #919AA1;
  color: #ffffff;
  text-align: center;
  line-height: 2;
  display: block;
}
.m-charInputText__content {
  min-width: 64%;
  width: 100%;
}
.m-charInputText__content input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  width: 100%;
  height: 36px;
  background-color: #D9D9D9;
  padding: 4px 8px;
}

.m-characterInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 576px) {
  .m-characterInfo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.m-otherInfoInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 235px;
  height: 36px;
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 4px;
  margin: 0px 10px 10px 0px;
}
.m-otherInfoInput__title {
  min-width: 36%;
  width: 100px;
  background-color: #919AA1;
  color: #ffffff;
  text-align: center;
  line-height: 2;
  display: block;
}
.m-otherInfoInput__content {
  min-width: 64%;
  width: 100%;
}
.m-otherInfoInput__content input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  width: 100%;
  height: 36px;
  background-color: #D9D9D9;
  padding: 4px 8px;
}

.m-flaverInfos_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-header {
  content: "";
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.m-header__inner {
  width: 100%;
}
.m-header__inner .m-inner-top {
  background-color: #464B4F;
  padding: 0px 10px;
}
.m-header__inner .m-inner-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1024px;
  width: 100%;
  margin: 0px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54px;
}
.m-header__inner .m-inner-top__inner .m-header-logo {
  content: "";
  width: 115px;
  height: 44px;
  background-color: transparent;
}
.m-header__inner .m-inner-top__inner .m-header-logo img {
  display: block;
  width: 115px;
  height: 44px;
}
.m-header__inner .m-inner-top__inner .m-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.m-header__inner .m-inner-top__inner .m-menu .m-register-btn {
  height: 32px;
  width: 32px;
  line-height: 2;
  text-align: center;
  margin: 0px 0px 0px 10px;
  border-radius: 4px;
  background-color: #AC536C;
}
.m-header__inner .m-inner-top__inner .m-menu .m-register-btn a {
  color: #fff;
  text-decoration: none;
}
.m-header__inner .m-inner-top__inner .m-menu .m-register-btn a.is-def {
  display: none;
}
@media screen and (min-width: 350px) {
  .m-header__inner .m-inner-top__inner .m-menu .m-register-btn {
    width: 84px;
  }
  .m-header__inner .m-inner-top__inner .m-menu .m-register-btn a.is-def {
    display: block;
  }
}
.m-header__inner .m-inner-top__inner .m-menu .m-login-btn {
  height: 32px;
  width: 32px;
  line-height: 2;
  text-align: center;
  margin: 0px 0px 0px 10px;
  border-radius: 4px;
  background-color: #53AC8B;
}
.m-header__inner .m-inner-top__inner .m-menu .m-login-btn a {
  color: #fff;
  text-decoration: none;
}
.m-header__inner .m-inner-top__inner .m-menu .m-login-btn a.is-def {
  display: none;
}
@media screen and (min-width: 350px) {
  .m-header__inner .m-inner-top__inner .m-menu .m-login-btn {
    width: 84px;
  }
  .m-header__inner .m-inner-top__inner .m-menu .m-login-btn a.is-def {
    display: block;
  }
}
.m-header__inner .m-login-user {
  color: #fff;
  color: #fff;
  border: solid #fff 1px;
  border-radius: 4px;
  padding: 5px 10px;
}

.m-header .m-inner-bottom {
  width: 100%;
  border-bottom: solid 2px #E0DB6A;
}
.m-header .m-inner-bottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1024px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  height: 48px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  margin: 0px auto;
  z-index: 9;
}
.m-header .m-inner-bottom__inner .m-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .m-header .m-inner-bottom__inner .m-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
}
.m-header .m-inner-bottom__inner .m-menu li a {
  padding: 24px 20px 0px 20px;
  line-height: 1;
  display: block;
  color: #424242;
  text-decoration: none;
  position: relative;
}
.m-header .m-inner-bottom__inner .m-menu li a:hover {
  color: #ffffff;
}
.m-header .m-inner-bottom__inner .m-menu li a:hover:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 30px;
  background: #65C2B1;
  -webkit-transform: perspective(10px) rotateX(5deg);
          transform: perspective(10px) rotateX(5deg);
  border-radius: 4px 4px 0px 0px;
}

.m-content__hamburger_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  content: "";
  height: 47px;
  width: 50px;
  padding: 10px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .m-content__hamburger_btn {
    display: none;
  }
}
.m-content__hamburger_btn div {
  content: "";
  position: absolute;
  background-color: #424242;
  width: 30px;
  height: 4px;
}
.m-content__hamburger_btn div[data-position=top] {
  top: 10px;
}
.m-content__hamburger_btn div[data-position=mid] {
  top: 21px;
}
.m-content__hamburger_btn div[data-position=bottom] {
  bottom: 10px;
}
.m-content__hamburger_btn[data-toggle=true] div[data-position=top] {
  top: 21px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.m-content__hamburger_btn[data-toggle=true] div[data-position=mid], .m-content__hamburger_btn[data-toggle=true] div[data-position=bottom] {
  top: 21px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.m-toggle_menu {
  display: block;
}
.m-toggle_menu__inner {
  width: calc(100% - 80px);
  position: absolute;
  top: 100px;
  height: calc(100% - 80px);
  padding: 30px 0px 0px 20px;
  background-color: #fff;
}
.m-toggle_menu__inner .m-user {
  margin-bottom: 20px;
}
.m-toggle_menu__inner .m-nav .m-menu {
  list-style: none;
}
.m-toggle_menu__inner .m-nav .m-menu li a {
  display: block;
  padding: 8px 0px;
  text-decoration: none;
  line-height: 1;
  color: #424242;
}
.m-toggle_menu__inner .m-nav .m-menu li:last-child {
  margin-left: -20px;
  background-color: #9c9c9c;
  padding: 8px 0px 8px 20px;
  color: #ffffff;
}
.m-toggle_menu[data-toggle=true] {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background-color: hsla(0deg, 0%, 26%, 0.7);
  z-index: 8;
}
.m-toggle_menu[data-toggle=true] .m-toggle_menu__inner {
  right: 0px;
}
.m-toggle_menu[data-toggle=false] .m-toggle_menu__inner {
  right: calc(100% + 80px);
}
@media screen and (min-width: 768px) {
  .m-toggle_menu {
    display: none;
  }
}

.m-config-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 0px;
}
.m-config-nav .m-config-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .m-config-nav .m-config-btn {
    display: block;
    height: 32px;
    width: 142px;
    border: solid #000 1px;
    border-radius: 4px;
    padding: 3px 10px;
  }
}
.m-config-nav .m-config-btn a {
  text-decoration: none;
  color: #000000;
}
.m-config-nav .m-config-btn a svg {
  padding-right: 5px;
}
.m-config-nav .m-logout-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .m-config-nav .m-logout-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 4px;
    background-color: #AC536C;
    color: #fff;
    margin: 0px 0px 0px 10px;
  }
}

.m-slill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 244px;
  height: 32px;
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 4px;
  margin: 0px 10px 10px 0px;
}
.m-slill-item__title {
  width: 36%;
  background-color: #919AA1;
}
.m-slill-item__title__text {
  color: #ffffff;
  text-align: center;
  line-height: 2;
  display: block;
}
.m-slill-item__content {
  width: 64%;
  padding: 8px 32px;
}
.m-slill-item.m-specialize {
  max-width: 272px;
}
.m-slill-item.m-specialize .m-slill-item__title {
  width: 58%;
  background-color: #919AA1;
}
.m-slill-item.m-specialize .m-slill-item__title__text {
  color: #ffffff;
  text-align: center;
  line-height: 2;
  display: block;
  font-size: 16px;
}
.m-slill-item.m-specialize .m-slill-item__content {
  width: 42%;
  padding: 8px 24px;
}
.m-slill-item .m-check_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.m-slill-item .m-check_list__li {
  list-style: none;
  margin-right: 8px;
}
.m-slill-item .m-check_list__li .m-check_label {
  content: "";
  display: block;
  position: relative;
  width: 16px;
  height: 100%;
}
.m-slill-item .m-check_list__li .m-check_label::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: solid 2px #424424;
  background: transparent;
}
.m-slill-item .m-check_list__li .m-check_input {
  display: none;
}
.m-slill-item .m-check_list__li .m-check_input:checked + .m-check_label::after {
  content: "";
  position: absolute;
  background-color: #424424;
  display: block;
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  border: solid 1px #424424;
}

.m-acquisition-point {
  margin: 0px 0px 10px 0px;
}
.m-acquisition-point__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.m-acquisition-point .m-points-box {
  display: block;
  max-width: 65px;
  width: 100%;
  margin: 0px 10px 0px 0px;
}
.m-acquisition-point .m-points-box__label {
  display: block;
  height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #919AA1;
  font-size: 12px;
  line-height: 2;
}
.m-acquisition-point .m-points-box__value {
  background-color: #D9D9D9;
  height: 32px;
  text-align: center;
  font-size: 16px;
  line-height: 2;
}

/*
        <div className="m-login">
            <div className="m-login__inner">
                <h2 className="m-section_title">ログイン</h2>
                <form onSubmit={handleLogin}>
                    <div className="input-group">
                        <label>メールアドレス</label>
                        <input
                            type="email"
                            className="input"
                            value={email}
                            onChange={e => setEmail(e.target.value)}
                        />
                    </div>
                    <div className="input-group">
                        <label>パスワード</label>
                        <input
                            type="password"
                            className="input"
                            value={password}
                            onChange={e => setPassword(e.target.value)}
                        />
                    </div>
                    <div>
                        <p></p>
                    </div>
                    <button type="submit" className="btn">ログイン</button>
                </form>
            </div>
        </div>

*/
.button-reset {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.m-login {
  max-width: 476px;
  width: 100%;
  background-color: #F2F1F1;
  margin: 40px auto 0px auto;
}
.m-login__inner {
  padding: 16px;
}
.m-login .m-section_title {
  text-align: center;
  font-size: 32px;
  margin: 16px auto 32px auto;
}
.m-login form {
  max-width: 294px;
  width: 100%;
  margin: 0px auto;
}
.m-login form .input-group {
  margin: 0px 0px 16px 0px;
}
.m-login form .input-group .input {
  width: 100%;
}
.m-login form .btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 32px;
  width: 84px;
  line-height: 2;
  text-align: center;
  margin: 0px 0px 0px auto;
  border-radius: 4px;
  background-color: #53AC8B;
  color: #fff;
}

.m-character {
  max-width: 768px;
  width: 100%;
  display: block;
}
.m-character:nth-child(even) {
  background-color: #EDE9E4;
}
.m-character:nth-child(odd) {
  background-color: #F9F8F6;
}
.m-character__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 10px;
}
.m-character__picture {
  content: "";
  width: 128px;
  height: 128px;
  background-color: transparent;
  display: none;
}
@media screen and (min-width: 576px) {
  .m-character__picture {
    display: block;
  }
}
.m-character__content {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: transparent;
}
@media screen and (min-width: 576px) {
  .m-character__content {
    width: calc(100% - 128px);
  }
}
.m-character__charactor-name {
  font-size: 18px;
  height: calc(100% - 60px);
}
.m-character__charactor-button {
  height: 60px;
}
.m-character__charactor-updateded_at {
  display: block;
  text-align: right;
  font-size: 16px;
  line-height: 2;
}
.m-character .m-buttons__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 576px) {
  .m-character .m-buttons__inner {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.m-character .m-buttons__inner li {
  width: calc(50% - 5px);
  margin: 0px 10px 10px 0px;
}
.m-character .m-buttons__inner li:nth-of-type(2n) {
  margin: 0px 0px 10px 0px;
}
@media screen and (min-width: 576px) {
  .m-character .m-buttons__inner li {
    width: 106px;
    margin: 0px 10px 0px 0px;
  }
  .m-character .m-buttons__inner li:nth-of-type(2n) {
    margin: 0px 10px 0px 0px;
  }
}
.m-character .m-buttons .m-button-edit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 32px;
  line-height: 2;
  text-align: center;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #53AC8B;
}
.m-character .m-buttons .m-button-edit a {
  color: #53AC8B;
}
.m-character .m-buttons .m-button-edit:hover {
  background-color: #53AC8B;
  border: solid 1px #53AC8B;
}
.m-character .m-buttons .m-button-edit:hover a {
  color: #ffffff;
}
.m-character .m-buttons .m-button-view {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 32px;
  line-height: 2;
  text-align: center;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #53AC8B;
  color: #53AC8B;
}
.m-character .m-buttons .m-button-view a {
  color: #53AC8B;
}
.m-character .m-buttons .m-button-view:hover {
  background-color: #53AC8B;
  border: solid 1px #53AC8B;
}
.m-character .m-buttons .m-button-view:hover a {
  color: #ffffff;
}
.m-character .m-buttons .m-button-output {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 32px;
  line-height: 2;
  text-align: center;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #53AC8B;
  color: #53AC8B;
}
.m-character .m-buttons .m-button-output:hover {
  background-color: #53AC8B;
  border: solid 1px #53AC8B;
  color: #ffffff;
}
.m-character .m-buttons .m-button-delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 32px;
  line-height: 2;
  text-align: center;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #AC536C;
  color: #AC536C;
}
.m-character .m-buttons .m-button-delete:hover {
  background-color: #AC536C;
  border: solid 1px #AC536C;
  color: #ffffff;
}
.m-character .m-buttons .m-button-edit a,
.m-character .m-buttons .m-button-view a,
.m-character .m-buttons .m-button-output a,
.m-character .m-buttons .m-button-delete a {
  text-decoration: none;
}

/*
        <div className="m-preferenceList">
            <ul className="m-preferenceList__inner">
                <li className="m-list-basic m-list-li">キャラ出力</li>
                <li className="m-button-email m-list-li">キャラ出力</li>
                <li className="m-button-password m-list-li">削除</li>
            </ul>
        </div>
*/
.m-preferenceList {
  display: block;
}
.m-preferenceList__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}
.m-preferenceList__inner .m-list-li {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  height: 32px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 0px 10px;
  line-height: 2;
  font-size: 14px;
  text-align: center;
  margin: 0px 10px 0px 0px;
  border-radius: 4px;
  background-color: transparent;
  border: solid 1px #53AC8B;
  color: #53AC8B;
}
