

.m-sentenceInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
    resize: none;

    background-color: #ffffff;
    min-height: 500px;
    width:100%;
    padding: 8px 16px;
}