.l-layout {
    display:block;
    width:100%;
    position:relative;
    .l-inner{
        min-height: calc(100vh - 35px);
        height:100%;
        padding-bottom:30px;
    }
    .l-wrap {
        max-width:768px;
        width:100%;
        margin:0px auto;
    }
}

.l-section_wrap {
    max-width:calc(100% - 16px);
    width:100%;
    margin:0px auto 20px auto;
    background-color: #F0EEEE;
    border-radius: 4px;
}

.l-section_Tab {
    background-color:#DEDDC8;
    .l-section_title {
        font-size: 16px;
        line-height: 1;
        display: block;
        padding: 10px 20px;
    }
}

.l-section_content {
    padding:16px 8px;
}

.l-inner_box {
    max-width:510px;
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}