.m-systemUseInputPassword {
    max-width: 294px;
    width: 100%;
    margin: 0px auto;

    .input-group {
        margin: 0px 0px 16px 0px;

        .input-label {
            content: '';
            display: block;
            line-height: 1;
            margin-bottom: 8px;

            &:before {
                content: "";
                display: inline-block;
                width: 8px;
                height: 16px;
                margin-bottom: -1px;
                margin-right: 4px;
                border-radius: 3px;
                background-color: #424242;
            }
        }

        .input-wrap {
            display: block;
            position: relative;
            overflow: hidden;
            border-radius: 3px;
            filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));

            .input-password {
                width: 100%;
                padding: 8px;
            }

            .password-view {
                content: "";
                @include button-reset;
                position: absolute;
                right: 7px;
                top: 3px;
            }
        }

        .input-error {
            font-size: 14px;
            color: red;
        }
    }
}

.m-confirmationPassword {
    max-width: 294px;
    width: 100%;
    margin: 0px auto;

    .input-group {
        margin: 0px 0px 16px 0px;

        .input-label {
            content: '';
            display: block;
            line-height: 1;
            margin-bottom: 8px;

            &:before {
                content: "";
                display: inline-block;
                width: 8px;
                height: 16px;
                margin-bottom: -1px;
                margin-right: 4px;
                border-radius: 3px;
                background-color: #424242;
            }
        }

        .input-wrap {
            display: block;
            position: relative;
            
            

            .input-password {
                outline: none;
                border: none;
                background: transparent;
            }

            .password-view {
                content: "";
                @include button-reset;
                position: absolute;
                right: 7px;
                top: 3px;
            }
        }
    }
}