/*
    <div className="m-systemUseInputText" >
        <div className="input-group">
            <label className="input-label" >{props.label}</label>
            <input
                type="text"
                className="input-text"
                {...props.register(props.name, props.required)}
            />
            {props.error && <span className="input-error">{props.error.message}</span>}
        </div>
    </div>

*/

.m-systemUseInputText {
    max-width:294px;
    width:100%;
    margin :0px auto;

    .input-group{
        margin:0px 0px 16px 0px;
        .input-label{
            content:'';
        }

        .input-text {
            width:100%;
        }

        .input-error {
            font-size:14px;
            color:red;
        }
    }
}