/*
            <div className='m-header is-view-page' >
                <div className="header-inner">
                    <div className="top-section">
                        <div className="inner-content">
                            <div className="m-header-logo">
                                <Link to="/"><img /></Link>
                            </div>
                        </div>
                    </div>
                    <div className="bottom-section">
                        <div className="inner-content" >
                            <p class="view-title" >閲覧モード</p>
                            <ul class="view-buttons">
                                <li>
                                    <button class=""　type="button">URLコピー</button>
                                </li>
                                <li>
                                    <button class=""　type="button">キャラクター出力</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
*/

.m-header {
    &.is-view-page {
        content: '';
        display: block;
        width: 100%;
        .header-inner {
            width: 100%;

            .top-section {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                height: 54px;
                background-color:colors(header-bg);
                .inner-content {
                    max-width:1024px;
                }
            }

            .bottom-section {
                width: 100%;
                border-bottom: solid 2px colors(current);
                
                .inner-content {
                    margin: 0px auto;
                    max-width:1024px;
                    width: calc(100% - 16px);
                    display: flex;
                    justify-content: space-between;
                    height:48px;
                    .view-title {
                        padding:22px 0px 0px 0px;
                        line-height: 1;
                        color:colors(current);
                    }

                    .view-buttons {
                        display: flex;
                        list-style: none;
                        
                        li {
                            display: inline-block;
                            padding: 8px 0px;
                            &:last-child {
                                .button-content{
                                    margin: 0px 0px 0px 0px;
                                }
                            }

                            .button-content {
                                @include button-reset;

                                display:inline-block;
                                height: 32px;
                                width:-moz-fit-content;
                                width:fit-content;
                                padding:0px 10px;
                                line-height: 2;
                                font-size:14px;
                                text-align: center;
                                margin: 0px 10px 0px 0px;
                                border-radius: 2px;
                                background-color:transparent;
                                border: solid 1px colors(current);
                                color: colors(current);

                                &:hover {
                                    background-color:colors(current);
                                    border: solid 1px colors(current);
                                    color: colors(white);
                                }

                                
                            }
                        }
                    }
                }
            }
        }
    }
}